*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    margin: 50px;
}
.image{
    margin: 5px;
    padding: 5px;
    border: 1px black solid;
    width: 500px;
    height: 500px;
    align-self: center;
    border-radius: 20px;
}
.button{
    background-color:white;
    border: 1px solid;
    align-self: center;
    font-size: 25px;
    border-radius: 20px;
}
.button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
